projects/**/*
!projects/.keep

credentials.yml
docker-compose.yml
*.env

**/__pycache__

tls/**/*
!tls/**/.keep
!tls/traefik

tls_traefik_config.yml

pre_configured_commands/*
!pre_configured_commands/.keep

nohup.out